/* for reuse in all if not most views: */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #304932;
    padding: 5px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px
}

.navbar a {
    display: flex;
    padding: 15px;
    margin-left: 5px;
    color: #fff7e6;
    text-decoration: none;
    transition: 150ms;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: #426045;
}


/* change font of webpages */
/* @font-face {
    font-family: "Horizon";
    src: url("/Fonts/Horizon-Font/horizon.otf") format("opentype");
} */

@font-face {
    font-family: "League Spartan";
    src: url("/Fonts/League_Spartan/static/LeagueSpartan-Regular.ttf") format("truetype");
}

* {
    font-family: "Horizon", sans-serif;
}

p, label, input::placeholder{
    font-family: "League Spartan", sans-serif;
    font-size: x-large;
}


body {
    background-color: #304932;
}


main {
    flex: 1;
}


/* - - - - - - - - - - - - - - - - - - - - E N D  C O N T E N T - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* for reuse in all if not most views: */
.footer {
    background-color: #304932;
    border-radius: 40% 40% 0 0;
    height: fit-content;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #fff7e6;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.footer a {
    margin: 0 10px 0 10px;
    color: #fff7e6;
    font-size: 13px;
}

/* - - - - END REUSE - - - - - */
