/* for reuse in all if not most views: */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #304932;
    padding: 5px;
    z-index: 1000;
    border-radius: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    display: flex;
    padding: 15px;
    margin-left: 20px;
    color: #fff7e6;
    text-decoration: none;
    transition: 150ms;
    border-radius: 20px;
}
.navbar a:hover{
    background-color: #426045;
}


/* change font of webpages */
@font-face {
    font-family: "Horizon";
    src: url("../public/Horizon-Font/horizon.otf") format("opentype");
}

* {
    font-family: "horizon", sans-serif;
}

body {
    background-color: #426045;
}


.background1 {
    height: 90vh;
    color:#fff7e6;
    background-image: url("../public/assets/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:0;
}
/* - - - - END REUSE - - - - - */


/* - - - - - - - - - - - - - - MAIN HOMEPAGE STYLES - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - -  T O P  C O N T E N T - - - - - - - - - - - - - - - - - - - - - -*/

.HomePageMainBox{
    margin-top: 25%;
    background-color: #304932;
    width:100%;
    /* 2:1 width - to - height ratio, ensures circularity  */
    aspect-ratio: 2/1; 
    border-radius: 50% 50% 0 0;
    height: 400px;
}

.HomePageMainBox > #headerAndIntro{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


/* - - - - - - - - - - - - - - - - -  M I D D L E  C O N T E N T - - - - - - - - - - - - - - - - - - - - - -*/
.MiddleContent {
    background-color: #304932;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: start;
} 

#FeaturedCat{
    background-color: #fff7e6;
    color:#304932;
}